# Collecting data using APIs

Accessing GitHub job API to get information on the number of jobs available for a particular language.

In [30]:
import requests 
baseurl = 'https://jobs.github.com/positions.json'
list_languages = ['c','c++','c#','java','javascript','python','scala','oracle','sql server','mysql server', 'postgresql','mongodb']

In [31]:
def get_number_of_jobs(technology):
    number_of_jobs = 0
    payload = {"description":technology}
    r = requests.get(baseurl, params=payload)
    if r.ok:
        data = r.json()
    number_of_jobs = len(data)
    if number_of_jobs==50:
        i=1
        while(number_of_jobs%50==0):
            payload = {"description":technology, "page":i}
            r1 = requests.get(baseurl, params=payload)
            if r1.ok:
                data1 = r1.json()
            number_of_jobs += len(data1)
            i= i+1
    #data_dict = 
    data_json = json.dumps({'tech':technology, 'jobs':number_of_jobs})
    return data_json

In [18]:
print(get_number_of_jobs('c'))
print(get_number_of_jobs('c++'))
print(get_number_of_jobs('c#'))
print(get_number_of_jobs('java'))
print(get_number_of_jobs('javascript'))
print(get_number_of_jobs('python'))
print(get_number_of_jobs('scala'))
print(get_number_of_jobs('oracle'))
print(get_number_of_jobs('sql server'))
print(get_number_of_jobs('mysql server'))
print(get_number_of_jobs('postgresql'))
print(get_number_of_jobs('mongodb'))

{"tech": "c", "jobs": 197}
{"tech": "c++", "jobs": 14}
{"tech": "c#", "jobs": 12}
{"tech": "java", "jobs": 122}
{"tech": "javascript", "jobs": 103}
{"tech": "python", "jobs": 38}
{"tech": "scala", "jobs": 39}
{"tech": "oracle", "jobs": 4}
{"tech": "sql server", "jobs": 12}
{"tech": "mysql server", "jobs": 2}
{"tech": "postgresql", "jobs": 11}
{"tech": "mongodb", "jobs": 6}

In [32]:
import os
path = os.path.join(os.getcwd(),'job_data.xlsx')
path

'/Users/riddhi/job_data.xlsx'

In [47]:
import pandas as pd 
import json
df = pd.DataFrame()
for lang in list_languages:
    data = json.loads(get_number_of_jobs(lang))
    df = df.append(data, ignore_index=True)
df

     jobs          tech
0   197.0             c
1    14.0           c++
2    12.0            c#
3   122.0          java
4   103.0    javascript
5    38.0        python
6    39.0         scala
7     4.0        oracle
8    12.0    sql server
9     2.0  mysql server
10   11.0    postgresql
11    6.0       mongodb

In [51]:
from openpyxl import Workbook
from openpyxl.utils.dataframe import dataframe_to_rows
wb = Workbook()

In [52]:
sheet1 = wb.create_sheet('sheet1',0)

In [53]:
active = wb['sheet1']
for x in dataframe_to_rows(df):
    active.append(x)
wb.save(path)