# Web Scraping

Scraping the web to find information regarding the average salaries for jobs in different programming languages.

In [145]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

In [146]:
from bs4 import BeautifulSoup
import csv
import urllib3 
http = urllib3.PoolManager(num_pools=1)
urllib3.disable_warnings()
data = http.request('GET', url)

In [147]:
soup = BeautifulSoup(data.data,'html.parser')

In [148]:
html = list(soup.children)[2]

In [149]:
html_child = list(html.children)[3]

In [150]:
html_child_2 = list(html_child.children)[15]

In [151]:
html_child_3 = list(html_child_2.children)[1]

In [153]:
html_child_4 = list(html_child_3.children)
html_child_4[7]
list_data = []
i=1
while(i<len(html_child_4)):
    list_data.append(html_child_4[i])
    i=i+2

In [154]:
languages = []
salary = []
i=1
while(i<len(list_data)):
    nested_list = list(list_data[i].children)
    languages.append(nested_list[3].get_text())
    salary.append(nested_list[7].get_text())
    i=i+1
print(languages)
print(salary)

['Python', 'Java', 'R', 'Javascript', 'Swift', 'C++', 'C#', 'PHP', 'SQL', 'Go']
['$114,383', '$101,013', '$92,037', '$110,981', '$130,801', '$113,865', '$88,726', '$84,727', '$84,793', '$94,082']

In [168]:
import pandas as pd
data = {'Language':languages,'Salary':salary}
df = pd.DataFrame(data)
df

     Language    Salary
0      Python  $114,383
1        Java  $101,013
2           R   $92,037
3  Javascript  $110,981
4       Swift  $130,801
5         C++  $113,865
6          C#   $88,726
7         PHP   $84,727
8         SQL   $84,793
9          Go   $94,082

In [170]:
import os
path = os.path.join(os.getcwd(),'popular-languages.csv')
df.to_csv(path, index=False)